.error-msg {
	color: #D32F2F;
}

.select-button {
	font-weight: bold;
	padding: 0;
}

.modal-title {
	margin-top: 16px;
}

.toggle-button-group{
	justify-content: center;
}

.add-to-cart-button {
	margin-top: 16px;
}