.card {
  border: solid 1px #e0e0e0;
  border-radius: 8px;
}

.card-content {
  padding: 8px;
  padding-bottom: 0px;
}

.card-actions {
  align-items: baseline;
  justify-content: space-around;
}

.card-actions-button {
  font-weight: bold;
  padding: 0px;
}

.card-actions-button:hover {
  background-color: #2e7d32;
  color: white;
}

.card-media {
  height: 150px;
  object-fit: contain;
}
