.custom-label {
	color:#0288D1;
	font-stretch: condensed;
	font-style: italic;
}

.variant-label{
	font-stretch: condensed;
	font-style: italic;
	font-weight: bold;
}

.icon {
	font-size: 1rem;
}

.delete-icon {
	font-size: 1rem;
	color: #D32F2F;
}



/* Responsive design */
/* XS: 0px */
/* SM: 600px */
/* MD: 900px */
/* LG: 1200px */
/* XL: 1536px*/
@media (width < 600px) {
	.cart-container {
		height: auto;
	}
}