::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f6f8;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f8;
}
