::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #CCC;
}

::-webkit-scrollbar-thumb:hover {
	background: #999;
	cursor: pointer;
}